$color-black = #2a3542
$color-black-light = #6f6f6f
$color-cyanine = #4fc2b9
$color-orange = #f1720c
$color-blue = #3399ff
$color-white = #fff
$color-red = #f47564
$color-gray = #9a9a9a
$border-color = #e3e3e3

fontColor($size, $color)
    font-size $size
    color $color
